:host {
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: minmax(0, 1fr);
}

@media only screen and (min-width: 48em) {
    .custom-header {
        padding-left: 3rem;
        padding-right: 3rem;
    }
}

.custom-header {
    background-color: var(--dxp-g-root);
    min-height: 3rem;
}
